<div class="favorite-link">
  <% if current_customer.favorites.find_by(room_id: @room.id)? %>
   <%= link_to customer_unfavorite_path(@room.id), method: :delete, remote: true do %>
    <div class="line_button">❤️</div>
   <% end %>
  <% else %>
   <%= link_to customer_favorite_path(@room.id), method: :post, remote: true do %>
    <div class="line_button">♡️️</div>
   <% end %>
  <% end %>
</div>