<div class="explanatory-text">
 <div class="tittle">理想のお部屋にリノベーションするために・・・</div>
 <div class="text">Renovation Styleは、リノベーションを検討している方に向けたサイトです</div>
 <div class="text">理想のお部屋を見つけることができ、更にお客様のお住まいを</div>
 <div class="text">リノベーションしてくれるリフォーム会社を見つけることができます</div>
</div>

<div class="container" style="text-align: center;">

  <div class="item">
    <% @rooms.each do |room| %>
     <div class="item-detail">
      <%= link_to customer_room_path(room.id) do %>
       <div class="item-detail-link">
        <%= image_tag room.main_image, class: "itemImage" if room.main_image.attached?%>
       </div>
       <div class="item-detail-text">
           <%= room.catchphrase %>
       </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="more">
   <%= link_to "もっと見る", customer_rooms_path, class: "btn" %>
  </div>

</div>