<div class="container">
  <div class="row">
    <div class="col">
      <p>
       理想のお部屋にリノベーションするために・・・<br>
       Renovation Styleは、リノベーションを検討している方に向けたサイトです<br>
       理想のお部屋を見つけることができ、更にお客様のお住まいを<br>
       リノベーションしてくれるリフォーム会社を見つけることができます<br>
      </p>
      部屋３件表示
      <p>
        ヘッダーの検索をクリックすると<br>
        よりご希望に近いお部屋が見つけられます<br>
      </p>
      
    </div>
  </div>
</div>