<div class="container">
  <div class="row">
    <div class="col">
      <p>
       理想のお部屋にリノベーションするために・・・
       Renovation Styleは、リノベーションを検討している方に向けたサイトです
       理想のお部屋を見つけることができ、更にお客様のお住まいを
       リノベーションしてくれるリフォーム会社を見つけることができます
      </p>
      <div class="rooms">
        <% @rooms.each do |room| %>
         <%= link_to customer_room_path(room.id) do %>

          <% image_tag @room_image.image.variant(resize_to_limit: [300, 200]) if @room_image.image.attached?%>

          <%= room.catchphrase %>
         <% end %>
        <% end %>
      </div>
      部屋３件表示
      <p>
        ヘッダーの検索をクリックすると<br>
        よりご希望に近いお部屋が見つけられます<br>
      </p>

    </div>
  </div>
</div>