<div class="container">
  <div>問い合わせ履歴一覧</div>
   <table>
     <thead>
       <th>日時</th>
       <th>部屋情報</th>
       <th>リフォーム会社</th>
     </thead>
     <tbody>
       <% @enquiries.each do |enquiry| %>
        <tr>
          <td><%= l enquiry.created_at, format: :short %></td>
          <td><%= enquiry.room.catchphrase %></td>
          <td><%= enquiry.manager.name %></td>
          <td><%= link_to '詳細', customer_enquiry_path(enquiry.id), class: "btn btn-outline-dark" %></td>
        </tr>
       <% end %>
     </tbody>
   </table>
</div>
