/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', 'Kosugi Maru', sans-serif !important;
}

.btn,
btn,
.submitButton,
a.btn{
  font-size: 1rem;
  font-weight: 550;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #6A4623;
  border-radius: 0.5rem;
  background: #F4EDE6;
  border: 2px solid #A69179;
}

a.btn:hover {
  color: #fff;
  background: #AF9E8D;
}

a:hover {
  color: #F6ADC6 !important;
}


.header {
  background-color: #cd9797;
  /*font-family: 'Merriweather', serif;*/
}

.site-logo,
.site-logo a{
  font-size: 45px;
  color: white;
  margin-right: auto;
}

.header-item-list a {
  padding: 10px;
  height: auto;
  margin-left: auto;
  margin-right: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  justify-content: flex-end;
}


footer{
  width: 100%;
  background-color: #cd9797;
  padding: 10px;
  height: 50px;
}

.links a{
  font-size: 20px;
  color: white;
  text-align: center;
}

.explanatory-text{
  text-align: center;
  padding: 20px;
}

.tittle{
  font-size: 30px;
  color: #918372;
  font-weight: bold;
}

.text{
  color: #7b5544;
}

.item{
  display: flex;
  justify-content: center;
}

.item-detail {
  margin: 10px;
}

.item-detail-text {
  font-weight: bold;
  font-size: 18px;
  color: #3E260C;
}

.itemImage {
  width: 350px;
  height: 250px;
}
.mainitemImage{
  width: 400px;
  height: 300px;
}

.more {
  padding-top: 30px;
}

.room-detail-tittle{
   font-size: 40px;
   color: #493C2F;
   text-align: center;
}

.room-detail-image{
 text-align: center;
}

p,
.form-item{
  font-size: 20px;
  color: #8E745A;
  /*font-family: 'Merriweather', serif;*/
}

.form-item{
  width: 150px;
}

.room-detail-text{
text-align: center;
}

.room-detail-text-tittle{
  color: #bc7575;
  font-size: 25px;
}

.room-detail-text-comment{
  font-size: 17px;
  color: #7b5544;
}

.room-detail-text-item {
  color: #7b5544;
  font-size: 17px;
}

.room-item{
  display: flex;
}

.manager{
  text-align: center;
  background-color: #F4EDE6;
}

.manager-detail{
  color: #7b5544;
}

.manager-detail-name{
  font-size: 23px;
}

.manager-detail-text{
  font-size: 17px;
}

table{
  font-size: 17px;
  color: #7b5544;
  text-align: center;
}


tr{
  height: 20px;
}

td{
  width: 90%;
}

.favorite{
  text-align: center;
}

.enquiry-btn{
  text-align: center;
}

.line_button{
  color: #f5afd0;
}

.ul,
 ul {
  list-style: none;
}

.searchItem {
  width: 150px;
  text-align: left;
  font-size: 12px;
  accent-color: #937B69;
}

.searchItemVer{
  width: 750px;
}

.searchItemTittle{
  width: 150px;
  text-align: center;
}

/*.searchItemHeader {
  width: 90px;
}*/

.room-item-tittle{
  font-size: 25px;
  color: #3E260C;
}

.page-tittle{
  font-size: 30px;
  color: #8E745A;
  /*font-family: 'Merriweather', serif;*/
}

.link{
 color: #6A3427;
 font-size: 20px;
 font-weight: bold;
}

.wrap {
  /* header footerのサイズが変更になったときはここも*/
  height: calc(100vh - 100px - 50px);
}