/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', 'Kosugi Maru', sans-serif !important;
}

/*main{*/
/*  min-height: calc( 100vh - 60px - 40px);*/
/*}*/
.btn,
btn,
.submitButton,
a.btn,
a.delete{
  font-size: 1rem;
  font-weight: 550;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #6A4623;
  border-radius: 0.5rem;
  background: #F4EDE6;
  border: 2px solid #A69179;
}

.submitButtonComplete{
  font-size: 1rem;
  font-weight: 550;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #6A4623;
  border-radius: 0.5rem;
  background: #e8d3ca;
  border: 2px solid #A69179;
}

.btn-primary{
  font-size: 1rem;
  font-weight: 550;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #6A4623;
  border-radius: 0.5rem;
  background: #426ab3;
  border: 2px solid #A69179;
}

.btn-primary:hover{
  color: #a3d8f6 !important;
}

.btn-danger{
  font-size: 1rem;
  font-weight: 550;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #6A4623;
  border-radius: 0.5rem;
  background: #D93A49;
  border: 2px solid #A69179;
}

.btn-danger:hover{
  color: #f79428 !important;
}

a.btn:hover,
.submitButton:hover{
  color: #6A4623;
  background: #AF9E8D;
}

a:hover {
  color: #6A4623 !important;

}

header {
  background-color: #cd9797;
}

.site-logo,
.site-logo a{
  font-size: 50px;
  color: white;
}

.header-item-list a {
  /*padding: 10px;*/
  /*height: auto;*/
  /*margin-left: auto;*/
  /*margin-right: 10px;*/
  color: white;
  font-size: 23px;

  /*text-align: center;*/
  /*justify-content: flex-end;*/
}


footer{
 /* position: absolute; */
/*  bottom: 0;*/
  width: 100%;
  background-color: #cd9797;
  padding: 5px;
  height: 40px;
  text-align: center;
  align-items: center;
  margin-top: auto;
}

.links a{
  font-size: 20px;
  color: white;
  text-align: center;
}


.tittle{
  font-size: 25px;
  color: #918372;
  font-weight: bold;
}

.explanation-tittle{
  font-size: 25px;
  color: #918372;
  font-weight: bold;
}

.explanation{
  font-size: 14px;
  color: #918372;
}

.page-tittle{
  font-size: 30px;
  color: #8E745A;
  /*font-family: 'Merriweather', serif;*/
}

table{
  font-family: 'Kosugi Maru', sans-serif;
  /*font-size: 2.3vmin;*/
  color: #7b5544;
}
.text{
  color: #7b5544;
  font-size: 16px;
}

.item{
  display: flex;
  justify-content: center;
}

/*.item-detail {*/
/*  margin: 5px;*/
/*}*/

.room-tittle,
.room-tittle a{
  font-size: 18px;
  color: #7b5544;
}

.item-detail-text,
.item-detail-text a{
  font-size: 17px;
  /*color: #3E260C;*/
  color: #7b5544;
}
/*.image-box{*/
  /*max-width: 60vw;*/
  /*max-height: 40vh;*/
/*}*/

.itemImage {
 width: 360px;
 height: 270px;
 object-fit: cover;
}

.managerImage{
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.mainitemImage{
 width: 400px;
 height: 300px;
 object-fit: cover;
}

.favoriteitemImage{
  width: 150px;
  height: 100px;
}

.floorImage{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.noimage{
  width: 400px;
  height: 300px;
}

/*.favorite-list-item-text{*/
 /*width: 430px;*/
/* color: #7b5544;*/
/*}*/

p,
.form-item{
  font-size: 20px;
  color: #8E745A;
  width: 150px;
  font-weight: bold;
}

.form-item-comment{
  font-size: 20px;
  color: #8E745A;
  font-weight: bold;
}

.item-tittle,
.form-tittle{
  font-size: 20px;
  color: #8E745A;
  font-weight: bold;
  text-align: right;
}

.item-list{
  width: 250px;
  font-size: 20px;
  color: #8E745A;
  font-family: 'Kosugi Maru', sans-serif;
}

.room-detail-tittle-catch{
  font-size: 25px;
  color: #918372;
}
.room-detail-tittle{
  color: #bc7575;
  font-size: 23px;
}

/*.room-detail{*/
/*  font-size: 25px;*/
/*  color: #7b5544;*/
/*}*/

.room-item{
  display: flex;
}

.manager,
.customer{
  background-color: #F4EDE6;
}

.manager-detail{
  /*color: #7b5544;*/
  font-size: 16px;
}

.manager-detail-name{
  font-size: 17px;
}

.favorite{
  text-align: center;
}

.like_button{
  color: #f5afd0;
  font-size: 16px;
}

.ul,
 ul {
  list-style: none;
}

.searchItem {
  min-width: 160px;
  max-width: 184px;
  text-align: left;
  font-size: 12px;
  accent-color: #937B69;
  color: #3E260C;
  margin-top: auto;
  margin-bottom: auto;
}

.searchbox{
  border-top: 2px solid #dcc6b9;
  border-right: 2px solid #dcc6b9;
  border-left: 2px solid #dcc6b9;
}
.searchbox-last{
  border-top: 2px solid #dcc6b9;
  border-right: 2px solid #dcc6b9;
  border-left: 2px solid #dcc6b9;
  border-bottom: 2px solid #dcc6b9;
}

.searchItem label {
  margin: 0;
}

.searchItemTittle{
  font-size: 17px;
  text-align: center;
  color: #3E260C;
  background-color: #F4EDE6;
}

/*.room-item-tittle{*/
/*  font-size: 20px;*/
/*  color: #3E260C;*/
/*}*/

.link{
 color: #6A3427;
 font-size: 20px;
 font-weight: bold;
}

.delete:hover{
  background-color: #D9341D;
  color: #fff;
  border: 2px solid #A5220C;
}

.itembar{
  font-size: 16px;
  color: #8E745A;
  font-weight: bold;
}

.itemList{
  font-size: 17px;
  color: #8E745A;
}
.date{
  width: 150px;
  font-family: 'Kosugi Maru', sans-serif;
}

.room-detail{
  width: 350px;
}

.manager-name{
  font-size: 18px;
  color: #7b5544;
}

.room-manager{
  width: 300px;
}

.enquiey-detail{
  color: #8E745A;
  font-size: 18px;
  font-family: 'Kosugi Maru', sans-serif;
  overflow-wrap: break-word;
}

.confirm-text{
  color: #F05F8D;
  font-size: 20px;
  background-color: #F4EDE6;

}

/*.item-tittle{*/
/*  text-align: right;*/
/*}*/

.no-favorite{
  font-size: 20px;
  color: #BC9A78;
}

.nested-fields{
  background-color: #ede4e1;
  width: 300px;
}

.imageItemedit{
    width: 200px;
  height: 150px;
}

.confirm-message{
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
}

.page-link a {
  color: #6A4623;
}

/*.day{*/
/*  background-color;*/
/*}*/

.enquiry-message{
  color: #7b5544;
  font-size: 16px;
}

.pagination-item,
.pagination-item a{
  font-size: 18px;
  color: #8E745A;
  margin: 10px;
}

.active{
  font-weight: bold;
  font-size: 18px;
  color: #cd9797;
  margin: 5px;
}

/*@media screen and (max-width: 1024px) {*/
  /*.site-logo a {*/
    /*font-size: 25px;*/
  /*}*/
/*}*/

@media (max-width: 420px){

  /*#field{*/
  /*  width: 80%;*/
  /*}*/
 .itemImage{
  width: 100%;
  height: 100%;
  }
  .mainitemImage{
  width: 100%;
  height: 100%;
 }

 .favoriteitemImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageItemedit{
    width: 80%;
  height: 80%;
}
.floorImage{
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.managerImage{
  width: 70%;
  height: 100%;
}

.noimage{
  width: 60%;
  height: 70%;
}

 .site-logo,
 .site-logo a{
   font-size: 30px;
 }
 .header-item-list a{
   font-size: 15px;
 }

.links a{
  font-size: 15px;
}
.tittle{
  font-size: 16px;
}
.page-tittle{
  font-size: 27px;
}

.explanation-tittle{
  font-size: 16px;
}

.explanation{
  font-size: 11px;
}
.text{
  font-size: 13px;
}

.alert-text{
  font-size: 12px;
}

.enquiry-message{
  font-size: 14px;
  text-align: start;
}

.room-tittle a,
.room-tittle{
  font-size: 14px;
}
.item-detail-text,
.item-detail-text a{
  font-size: 12px;
}

.room-detail-tittle-catch{
  font-size: 20px;
  /*color: #3E260C;*/
}

.room-detail-tittle{
   font-size: 18px;
}
/*.room-item-tittle{*/
/*  font-size: 10px;*/
/*}*/
.room-manager{
  width: 80%;
}

.manager-detail{
  /*color: #7b5544;*/
  font-size: 14px;
}

.room-detail{
  width: 80%;
}

.room-detail-text{
  font-size: 13px;
}

.searchItemTittle{
  font-size: 14px;
}

.like_button{
  font-size: 10px;
}


p,
.form-item{
  font-size: 16px;
  width: 80%;
}

.form-item-comment{
  font-size: 16px;
}

.item-tittle{
  font-size: 17px;
  text-align: start;
}

.item-list{
  width: 80%;
  font-size: 16px;
}

.manager-name{
  font-size: 14px;
}


.searchItem {
  min-width: 40%;
  max-width: 40%;
  font-size: 12px;
}

.link{
 font-size: 16px;
}

.delete:hover{
  border: 1px solid #A5220C;
}

.itembar{
  font-size: 17px;
}

.data{
  background-color: #F4EDE6;
}

.itemList{
  font-size: 8px;
}
.date{
  width: 80%;
}

.enquiey-detail{
  font-size: 16px;
}

.confirm-text{
  font-size: 13px;
}

.no-favorite{
  font-size: 10px;
}

.nested-fields{
  width: 80%;
}


.confirm-message{
  font-size: 10px;
}

table{
  font-size: 14px;
}

.day{
  font-size: 16px;
  background-color: #F4EDE6;
}

 .btn-primary,
 .btn-danger,
 .btn,
 btn,
 .submitButton,
 a.btn,
 a.delete,
 .submitButtonComplete{
  font-size: 12px;
  font-weight: 550;
  line-height: 0.5;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #6A4623;
  letter-spacing: 0.1em;
  border-radius: 0.25rem;
  border: 1px solid #A69179;
}



.line_button{
 font-size: 16px;
}

.pagination,
.pagination a,
.pagination-item,
.pagination-item a,
.active{
  font-size: 15px;
}

/*.submitButtonComplete{*/
/*  font-size: 1rem;*/
/*  font-weight: 550;*/
/*  line-height: 0.5;*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  padding: 1rem 3rem;*/
/*  cursor: pointer;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  -webkit-transition: all 0.3s;*/
/*  transition: all 0.3s;*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*  text-decoration: none;*/
/*  letter-spacing: 0.1em;*/
/*  color: #6A4623;*/
/*  border-radius: 0.5rem;*/
/*  background: #e8d3ca;*/
/*  border: 2px solid #A69179;*/
/*}*/

}
