<!--部分テンプレート-->
<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul class="error">
      <% sort.each do |column_name| %>
       <% model.errors.full_messages.each do |message| %>
         <% if message.include?(column_name) %>
          <li class="text"><%= message %></li>
         <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>